<!-- views/startPage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeadLine Hub</title>
    <link rel="stylesheet" href="/css/startPage.css">
</head>
<body>
    <div class="container">
        <h1>NEWSMANIA</h1>
        <p>Wanna improve your GK?</p>
        <div class="buttons-container">
            <a href="/register"><button>Register</button></a>
            <a href="/login"><button>Login</button></a>
        </div>
    </div>
</body>
</html>

